@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


/* ********** START CUBE / VIEWPORT STYLING ********** */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Arial;
}


body {
  background: #FFFFFF;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: 300; }

#wrapper {
  padding-top: 5%; }

.viewport {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  -ms-perspective-origin: 50% 200px;
  -o-perspective-origin: 50% 200px;
  perspective-origin: 50% 200px;
  -webkit-transform: scale(0.8, 0.8);
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1))); }

.cube {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(136deg) rotateY(1122deg);
  -moz-transform: rotateX(136deg) rotateY(1122deg);
  -ms-transform: rotateX(136deg) rotateY(1122deg);
  -o-transform: rotateX(136deg) rotateY(1122deg);
  transform: rotateX(136deg) rotateY(1122deg); }

.cube > div {
  overflow: hidden;
  position: absolute;
  height: 500px;
  width: 500px;
  /*background-image: url("http://jordizle.com/demo/376/3d-interactive-cube-with-rotating-sides-using-css3-and-javascript/assets/img/cube/blank.png");*/
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.cube > div > div.cube-image {
  width: 500px;
  height: 500px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 200px;
  font-size: 80px;
  text-align: center;
  color: #1b9bd8;
  -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms; }
  .cube > div > div.cube-image.active {
    color: red; }

.cube > div:hover {
  cursor: pointer; }

.cube > div:active {
  cursor: pointer; }

.cube > div:first-child {
  -webkit-transform: rotateX(90deg) translateZ(250px);
  -moz-transform: rotateX(90deg) translateZ(250px);
  -ms-transform: rotateX(90deg) translateZ(250px);
  -o-transform: rotateX(90deg) translateZ(250px);
  transform: rotateX(90deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(2) {
  -webkit-transform: translateZ(250px);
  -moz-transform: translateZ(250px);
  -ms-transform: translateZ(250px);
  -o-transform: translateZ(250px);
  transform: translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(250px);
  -moz-transform: rotateY(90deg) translateZ(250px);
  -ms-transform: rotateY(90deg) translateZ(250px);
  -o-transform: rotateY(90deg) translateZ(250px);
  transform: rotateY(90deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(250px);
  -moz-transform: rotateY(180deg) translateZ(250px);
  -ms-transform: rotateY(180deg) translateZ(250px);
  -o-transform: rotateY(180deg) translateZ(250px);
  transform: rotateY(180deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(250px);
  -moz-transform: rotateY(-90deg) translateZ(250px);
  -ms-transform: rotateY(-90deg) translateZ(250px);
  -o-transform: rotateY(-90deg) translateZ(250px);
  transform: rotateY(-90deg) translateZ(250px);
  outline: 1px solid transparent; }

.cube > div:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(250px);
  outline: 1px solid transparent; }

object {
  opacity: 0.5; }

object:hover {
  opacity: 1; }

@media (max-width: 640px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6); } }

/* ********** END CUBE / VIEWPORT STYLING ********** */


/* ********** START CUSTOM QUBE UX STYLING ********** */
/* Changes the cursor to encourage clicking and dragging outside of the Qube to rotate*/
body {
  cursor: all-scroll;
}
/* Bumbing the Qube down */
.viewport { 
  margin-top: 60px;
}
/* Hiding the numbers on from the original Cube demo */
.cube-image { 
  display: none;
}


/* Simply setting the different Qube faces via background images */
/* todo - remove this when bringing in SVGs */
/*#top {
  background: url('/img/sourceScreen_center.png') center center no-repeat;
  background-size: cover;
}
#center {
  background: url('/img/articleScreen_biasCenter.png') center center no-repeat;
  background-size: cover;
}
#left {
  background: url('/img/articleScreen_biasLeft.png') center center no-repeat;
  background-size: cover;
}
#right {
  background: url('/img/articleScreen_biasRight.png') center center no-repeat;
  background-size: cover;
}
 #saveSkip {
  background-size: cover;
}*/

.side {
  /*background: none !important;*/
  /*background-color: black;*/
  outline: 1px solid transparent !important;

  background: #a57933;

}

#top, #saveSkip { background-color: #B28237 }
#left, #right { background-color: #8B662B }


.side > object,
.side > iframe,
.side > img,
.side > svg {
  /*opacity: .8;*/
  transition: opacity .5s;
  top: 27.5px; left: 27.5px;
  position: absolute;
}
.side.active > svg {
  opacity: 1;
}

#svgTemplateWrap {
  display: none;
}

.ghost {
  transition: opacity .4s;
  opacity: 0 !important;
}
.hide {
  display: none;
  /*visibility: 0;*/
}

/* class names based on physical position on qube!! */
#top > svg.left {
  transform: rotate(90deg);
}

#top > svg.center {
  transform: rotate(0deg);
}

#top > svg.right {
  transform: rotate(-90deg); 
}

#saveSkip { 
  
}

#saveSkipWrapper {
  transform: rotate(180deg);
  height: 445px; width: 445px;
  position: absolute;
  top: 27.5px; left: 27.5px;

  background-color: white;
  text-align: center;
}
#saveSkip h3 {
  font-size: 30px;
  color: #333;
  margin: 60px 0;
}

#saveSkip  button {
  margin: 0 auto 48px;
  background-color: #e6e6e6;
  padding: 24px 60px;
  font-size: 24px;
  display: block;
  color: #333;
  border-width: 0;
}


#SaveSkipScreen_template {
  transform: rotate(180deg);

}

#btn_skip:active rect,
#btn_save:active rect {
  fill: #4F8000;
}

#btn_skip.disabled rect,
#btn_save.disabled rect {
  fill: #BBBBBB;
}

#_author tspan,
#_date tspan,
#_source tspan {
  text-align: center;
}


#sourceBiasPie_L.active {
  fill : #009BBD !important;
}

#sourceBiasPie_C.active {
  fill : #9100B8 !important;
}

#sourceBiasPie_R.active {
  fill : #ED006F !important;
}

#top #L, #top #LC, #top #C, #top #RC, #top #R, #top #locked { display: none; }
#top #L.active, #top #LC.active, #top #C.active, #top #RC.active, #top #R.active, #top #locked.active {
  display: initial;
}

#actionBiasBtn,
#yourGuess_unlocked,
#yourGuess_locked {
  display: none;
}

#actionBiasBtn.active,
#yourGuess_unlocked.active,
#yourGuess_locked.active {
  display: initial;
}

[id*="BiasGuessBtn"]:active rect {
  fill: #4F8000;
}





